body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.sidebar-anim {
  transition: transform 0.5s ease; /* Sử dụng CSS transition */
}

.sidebar-anim-visible {
  transform: translateX(200px); /* Trượt sang phải khi block hiện */
}

.sidebar-anim-hidden {
  transform: translateX(-200px); /* Trượt sang trái khi block ẩn */
}